@use "../mixins" as *;

.homepage {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
    overflow-y: scroll;
    background-color: white;
    background-position: top left;
    background-repeat: no-repeat;
}

.homepage__header {
    @include flex-center-content(row, flex-end);
    gap: 2rem;
    width: 100%;
}

.homepage__contents {
    flex-grow: 1;
    display: flex;
    width: 100%;
}

.homepage__contents-left {
    @include flex-center-content(column, center);

    .homepage__logo {
        width: 60%;
        height: auto;
    }
}

.homepage__contents-right {
    @include flex-center-content(row, center);
    flex-wrap: wrap;
    gap: 2rem;
}

@media only screen and (max-width: 1023px) {
    .homepage {
        background-image: url("@images/home/homeVertical.png");
        background-size: 100% auto;
    }

    .homepage__contents {
        flex-direction: column;
    }
}

@media only screen and (min-width: 1024px) {
    .homepage {
        background-image: url("@images/home/home.png");
        background-size: auto 100%;
    }

    .homepage__contents {
        flex-direction: row;
    }

    .homepage__contents-left {
        width: 50%;
    }

    .homepage__contents-right {
        width: 50%;
    }
}

.homepage__description {
    @include flex-center-content(column, center);
    gap: 1rem;
    padding: 2rem;

    > p {
        color: var(--light-text);
        @include text-block;
    }
}

.homepage__navigation-item {
    @include flex-center-content(row, center);
    min-width: 16rem;
    min-height: 10.5rem;
    border-radius: 0.5rem;
    cursor: pointer;

    &:hover {
        filter: brightness(125%);
    }

    > p {
        @include title-font;
        color: var(--light-text);
        text-decoration: none;
        transition: transform 0.2s ease-in-out;
        filter: brightness(100%);

        &:active {
            transform: scale(1.1);
            text-decoration: underline;
        }
    }
}

@media (hover: hover) {
    /* For desktops only */
    .homepage__navigation-item:hover {
        > p {
            text-decoration: underline;
        }
    }
}

.equalization-item {
    background-image: url("@images/home/equalization.png");
    @include background-image-props(top);
}

.substitution-item {
    background-image: url("@images/home/substitution.png");
    @include background-image-props(top);
}

.elimination-item {
    background-image: url("@images/home/elimination.png");
    @include background-image-props(top);
}

.flexibility-item {
    background-image: url("@images/home/flexibility-training.png");
    @include background-image-props(top);
}
.goal-item {
    background-image: url("@images/home/goal-item.png");
    @include background-image-props(top);
}